<% if @game.draw?(@player_choice, @opponent_choice) %>
<h2>The game was a draw</h2>
<% else %>
<h2><%= @winner.name %> wins</h2>
<% end %>

<p><%= @game.player.name %> selected <%= @player_choice %>: <%= @game.player.wins %> wins</p>
<p><%= @game.opponent.name %> selected <%= @opponent_choice %> : <%= @game.opponent.wins %> wins </p>


<a href="/play">back</a>
